@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
body{
    display:flex;
    margin: 0;
    min-height: 100vh;
    font-family: 'Comfortaa' , sans-serif;
}
@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}
.image-container{
    width: 35vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  
}
.form-container{
    width: 65vw;
    background-color: #f5f7f9;
}

.hero-text{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: rgba(0,0,0,0.5);
}
h1{
    font-family: 'norse-bold';
    font-size: 7rem;
    color: white;
}
img{
    width: 120px;
    height: 150px;
}

.credit{
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

a{ 
    color: inherit; 
} 

.introduction{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 3%;
    padding: 20px;
}

.form{
    
}
/*Reset properties*/
button,
label,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
  display: block;
}

label, input{
    width: 70%;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px #E5E7EB;
    
}
.inputs>div{
    display: flex;
}
/*So that the divs occupy all the space in an equal proportion*/
.inputs>div>div{
    flex-grow: 1;
    
}

.button{
    margin-top: 50px;
    padding: 20px;
}
input{
    border: 1px solid #E5E7EB;
}

input:focus{
    outline: none; /*Remove default blue outline from Safari*/
    border: 2px solid #596D48;
  }
/*This does not work bc the label is before and selector 
does not grab it. Nothing to do with ::after

input:invalid + label::after{
    content: "Incorrect";
  }
*/
 

  span{
    position: relative;
    font-size: 0.75rem;
    width: max-content;
    color: red;
    white-space: nowrap /* avoid text wrap in span*/
  }

  /*
  https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/
  The difficulty is that invalid message in shown:
  - right at load of the form
        Bc it is empty and is required
  - When you start typing data (too fast as in the email
  it wont be valid until you put @...)

  To solve this we will customize our invalid class when:
  - only when we are not focus (clicking) the input
  - only when there is no placeholder in the input(meaning we click already on it)
  
  
  
  */
  Input[type="text"]:not(:focus):not(:placeholder-shown):invalid + span:after{
    position: absolute;
    bottom: 39px;
    left: 150px;
    content: "Only letters allowed";
  }

  Input[type="email"]:not(:focus):not(:placeholder-shown):invalid + span:after{
    position: absolute;
    bottom: 39px;
    left: 150px;
    content: "Should be as example@email.com";
  }
  
  Input[type="password"]:not(:focus):not(:placeholder-shown):invalid + span:after{
    position: absolute;
    bottom: -17px;
    left: 0px;
    content: "Must contain number,uppercase,lowercase and 8 or more characters";
  }

  button {
    border-radius: 5px;
    background-color: #596D48;
    border: none;
    width: 20%;
    height: 40px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 15px 2px #bdbdbf;
  }

  p>a{
    color: #596D48;
    font-weight:700;
  }
 