@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    display:flex;
    height: 100vh;
    margin: 0;
    font-family: 'Comfortaa' , sans-serif;
}
@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}
.image-container{
    width: 35vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  
}
.form-container{
    width: 65vw;
    padding: 20px;
}

.hero-text{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: rgba(0,0,0,0.5);
}
h1{
    font-family: 'norse-bold';
    font-size: 7rem;
    color: white;
}
img{
    width: 120px;
    height: 150px;
}

.credit{
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

a{ 
    color: inherit; 
} 

.introduction{
    font-size: 1.5rem;
    font-weight: bold;
}
/*Reset properties*/
button,
label,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  
  padding: 5px;
  height: 30px;
  display: block;
}
button{
    width: 30%;
}

label, input{
    width: 70%;
}
.inputs{
    display: flex;
    flex-direction: column;

}
.inputs>div{
    display: flex;
    width: 100%;
}
/*So that the divs occupy all the space in an equal proportion*/
.inputs>div>div{
    flex-grow: 1;
    
}